/* ---SET GENERALI */
/* * {
  cursor: none !important;
} */

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

h2,
h3,
h4,
h5 {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}

/* --- HEADER */

.header-site {
  background-color: transparent;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* ombra scura bottom */
}

/* Quando è COLLASSATA (sotto lg), rendi il menu full-width con bg scuro */
@media (max-width: 991.98px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;
  }
  .navbar {
    position: relative;
  }
}

/* INPUT HEADER */
.search-input-home {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white;
}

.search-input-home::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-input-home:focus {
  background-color: transparent;
  color: white;
  border-color: #fea724; /* bordo arancione al focus */
  box-shadow: none; /* rimuove glow blu Bootstrap */
}

/* ##BANDGE CART */
.gadge-cart {
  margin-left: -5px;
  padding: 2px 8px 2px 8px;
}

/* --- HOMEPAGE */
/* Cursore tondo in hero */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #fea724;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.05s linear;
}

.homepage-background-hero {
  margin-top: -72px;
  height: 100vh;
  width: 100%;
  background-image: url("../images/expedition-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepage-background-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.718), rgba(0, 0, 0, 0.6));
  z-index: 0;
}

.homepage-text-hero {
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 4.3rem;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
}

/* Media query per schermi <= 500px */
@media (max-width: 590px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .homepage-text-hero h5 {
    font-size: 1.2rem;
  }
}

.button-hero {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border: none; /* rimuove bordo default */
  border-bottom: 2px solid white; /* bordo solo in basso */
  padding: 0.5rem 1rem;
  transition: all 0.3s ease; /* animazione fluida */
}

.button-hero:hover {
  color: #fea724; /* testo arancione */
  border-bottom-color: #fea724; /* bordo arancione */
}

/* ## Colonna Info sotto HERO */
.info-column {
  padding: 30px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.info-column.col1 {
  background-image: url("../images/assCread.webp");
}
.info-column.col2 {
  background-image: url("../images/Life-is-strange.webp");
}
.info-column.col3 {
  background-image: url("../images/mariocart.webp");
}

.info-column::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000093;
  z-index: 0;
}
.info-column-text {
  position: relative;
  z-index: 1;
}

/* ## Sezione immagine Grande */
.container-image-homepage {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/skyrim-special.webp");
  padding: 30px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.container-image-homepage::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ff8400ce;
  z-index: 0;
}
.container-image-homepage-text {
  position: relative;
  z-index: 1;
  color: white;
}

/* ---CARD */

/* ## WISHLIST */
.heart-btn {
  line-height: 1;
} /* per click area pulita */
.heart-btn i {
  display: inline-block; /* <— importante per transform */
  transition: transform 0.18s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.heart-btn:hover i,
.heart-btn:focus-visible i {
  transform: scale(1.12);
}

/* --- COMPARATORE */
